@page "/"
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button class="btn btn-primary" @onclick="NavigateToUsers">User Management</button>

@code {
    void NavigateToUsers()
    {
        Navigation.NavigateTo("/users");
    }
}
